[% INCLUDE header.tt2 %]
log_warn [% sh %]

#----------------------------#
# Illumina QC
#----------------------------#
bsub -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-2_fastqc" "bash 2_fastqc.sh"
bsub -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-2_kmergenie" "bash 2_kmergenie.sh"

[% IF opt.insertsize -%]
bsub -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-2_insertSize" "bash 2_insertSize.sh"
[% END -%]

[% IF opt.sgapreqc -%]
bsub -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-2_sgaPreQC" "bash 2_sgaPreQC.sh"
[% END -%]

#----------------------------#
# preprocessing
#----------------------------#
bsub -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-2_trim" "bash 2_trim.sh"

[% IF opt.cov3 -%]
bsub -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-3_trimlong" "bash 3_trimlong.sh"
[% END -%]

bsub -w "ended([% opt.basename %]-2_trim)[% IF opt.cov3 %] && ended([% opt.basename %]-3_trimlong)[% END %]" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-9_statReads" "bash 9_statReads.sh"

[% IF opt.mergereads -%]
#----------------------------#
# mergereads
#----------------------------#
bsub -w "done([% opt.basename %]-2_trim)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-2_mergereads" "bash 2_mergereads.sh"
[% END -%]

#----------------------------#
# quorum
#----------------------------#
bsub -w "done([% opt.basename %]-2_trim)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-2_quorum" "bash 2_quorum.sh"
bsub -w "done([% opt.basename %]-2_quorum)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-9_statQuorum" "bash 9_statQuorum.sh"

#----------------------------#
# down sampling, k-unitigs and anchors
#----------------------------#
bsub -w "done([% opt.basename %]-2_quorum)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-4_downSampling" "bash 4_downSampling.sh"

bsub -w "done([% opt.basename %]-4_downSampling)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-4_kunitigs" "bash 4_kunitigs.sh"
bsub -w "done([% opt.basename %]-4_kunitigs)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-4_anchors" "bash 4_anchors.sh"

[% IF opt.tadpole -%]
bsub -w "done([% opt.basename %]-4_anchors)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-9_statAnchors_4_kunitigs" "bash 9_statAnchors.sh 4_kunitigs statKunitigsAnchors.md"

bsub -w "done([% opt.basename %]-4_downSampling)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-4_tadpole" "bash 4_tadpole.sh"
bsub -w "done([% opt.basename %]-4_tadpole)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-4_tadpoleAnchors" "bash 4_tadpoleAnchors.sh"
bsub -w "done([% opt.basename %]-4_tadpoleAnchors)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-9_statAnchors_4_tadpole" "bash 9_statAnchors.sh 4_tadpole statTadpoleAnchors.md"
[% ELSE -%]
bsub -w "done([% opt.basename %]-4_anchors)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-9_statAnchors_4_kunitigs" "bash 9_statAnchors.sh"
[% END -%]

[% IF opt.mergereads -%]
#----------------------------#
# down sampling mergereads
#----------------------------#
bsub -w "done([% opt.basename %]-2_mergereads)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-6_downSampling" "bash 6_downSampling.sh"

bsub -w "done([% opt.basename %]-6_downSampling)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-6_kunitigs" "bash 6_kunitigs.sh"
bsub -w "done([% opt.basename %]-6_kunitigs)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-6_anchors" "bash 6_anchors.sh"

[% IF opt.tadpole -%]
bsub -w "done([% opt.basename %]-6_anchors)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-9_statAnchors_6_kunitigs" "bash 9_statMRAnchors.sh 6_kunitigs statMRKunitigsAnchors.md"

bsub -w "done([% opt.basename %]-6_downSampling)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-6_tadpole" "bash 6_tadpole.sh"
bsub -w "done([% opt.basename %]-6_tadpole)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-6_tadpoleAnchors" "bash 6_tadpoleAnchors.sh"
bsub -w "done([% opt.basename %]-6_tadpoleAnchors)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-9_statAnchors_6_tadpole" "bash 9_statMRAnchors.sh 6_tadpole statMRTadpoleAnchors.md"
[% ELSE -%]
bsub -w "done([% opt.basename %]-4_anchors)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-9_statAnchors_4_kunitigs" "bash 9_statMRAnchors.sh"
[% END -%]
[% END -%]

#----------------------------#
# merge anchors
#----------------------------#
[% IF opt.tadpole -%]
bsub -w "done([% opt.basename %]-4_anchors)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-7_mergeAnchors_4_kunitigs" "bash 7_mergeAnchors.sh 4_kunitigs 7_mergeKunitigsAnchors"
bsub -w "done([% opt.basename %]-4_tadpoleAnchors)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-7_mergeAnchors_4_tadpole" "bash 7_mergeAnchors.sh 4_tadpole 7_mergeTadpoleAnchors"

[% IF opt.mergereads -%]
bsub -w "done([% opt.basename %]-6_anchors)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-7_mergeAnchors_6_kunitigs" "bash 7_mergeAnchors.sh 6_kunitigs 7_mergeMRKunitigsAnchors"
bsub -w "done([% opt.basename %]-6_tadpoleAnchors)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-7_mergeAnchors_6_tadpole" "bash 7_mergeAnchors.sh 6_tadpole 7_mergeMRTadpoleAnchors"
[% END -%]

bsub -w "done([% opt.basename %]-7_mergeAnchors_4_kunitigs) [% IF opt.tadpole %]&& done([% opt.basename %]-7_mergeAnchors_4_tadpole)[% END %] [% IF opt.mergereads %]&& done([% opt.basename %]-7_mergeAnchors_6_kunitigs) [% IF opt.tadpole %]&& done([% opt.basename %]-7_mergeAnchors_6_tadpole)[% END %][% END %]" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-7_mergeAnchors" "bash 7_mergeAnchors.sh 7_merge 7_mergeAnchors"

[% ELSE -%]
bsub -w "done([% opt.basename %]-4_anchors)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-7_mergeAnchors" "bash 7_mergeAnchors.sh 4_kunitigs"
[% END -%]

# anchor sort on ref
bsub -w "done([% opt.basename %]-7_mergeAnchors)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-sort_on_ref" \
    '
    if [ -e 1_genome/genome.fa ]; then
        for D in 7_mergeAnchors 7_mergeKunitigsAnchors 7_mergeTadpoleAnchors 7_mergeMRKunitigsAnchors 7_mergeMRTadpoleAnchors; do
            if [ ! -d ${D} ]; then
                continue;
            fi
    
            bash ~/Scripts/cpan/App-Anchr/share/sort_on_ref.sh \
                ${D}/anchor.merge.fasta 1_genome/genome.fa ${D}/anchor.sort
            nucmer -l 200 1_genome/genome.fa ${D}/anchor.sort.fa
            mummerplot --postscript out.delta -p anchor.sort --small
    
            # mummerplot files
            rm *.[fr]plot
            rm out.delta
            rm *.gp
            mv anchor.sort.ps ${D}/
    
            # minidot
            minimap ${D}/anchor.sort.fa 1_genome/genome.fa \
                | minidot - > ${D}/anchor.minidot.eps
        done
    fi
    '
    
[% IF opt.cov3 -%]
#----------------------------#
# canu
#----------------------------#
bsub -w "done([% opt.basename %]-3_trimlong)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-5_canu" "bash 5_canu.sh"
bsub -w "done([% opt.basename %]-5_canu)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-9_statCanu" "bash 9_statCanu.sh"

# expand anchors
bsub -w "done([% opt.basename %]-7_mergeAnchors) && done([% opt.basename %]-5_canu)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-7_anchorLong" \
    "bash 7_anchorLong.sh 7_mergeAnchors/anchor.merge.fasta 5_canu_Xall-trim/[% opt.basename %].correctedReads.fasta.gz"

bsub -w "done([% opt.basename %]-7_anchorLong)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-7_anchorFill" \
    "bash 7_anchorFill.sh 7_anchorLong/contig.fasta 5_canu_Xall-trim/[% opt.basename %].contigs.fasta"
[% END -%]

#----------------------------#
# spades, megahit and platanus
#----------------------------#
bsub -w "done([% opt.basename %]-2_trim)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-8_spades" "bash 8_spades.sh"

bsub -w "done([% opt.basename %]-2_trim)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-8_megahit" "bash 8_megahit.sh"

bsub -w "done([% opt.basename %]-2_trim)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-8_platanus" "bash 8_platanus.sh"

#----------------------------#
# final stats
#----------------------------#
bsub -w "ended([% opt.basename %]-7_mergeAnchors) [% IF opt.cov3 %]&& ended([% opt.basename %]-7_anchorFill)[% END %] && ended([% opt.basename %]-8_spades) && ended([% opt.basename %]-8_platanus)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-9_statFinal" "bash 9_statFinal.sh"

bsub -w "ended([% opt.basename %]-7_mergeAnchors) [% IF opt.cov3 %]&& ended([% opt.basename %]-7_anchorFill)[% END %] && ended([% opt.basename %]-8_spades) && ended([% opt.basename %]-8_platanus)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-9_quast" "bash 9_quast.sh"

bsub -w "done([% opt.basename %]-9_quast)" \
    -q [% opt.queue %] -n [% opt.parallel %] -J "[% opt.basename %]-0_cleanup" "bash 0_cleanup.sh"
