[% INCLUDE header.tt2 %]
log_warn 0_master.sh

#----------------------------#
# Illumina QC
#----------------------------#
if [ -e 2_fastqc.sh ]; then
    bash 2_fastqc.sh;
fi
if [ -e 2_kmergenie.sh ]; then
    bash 2_kmergenie.sh;
fi

if [ -e 2_insertSize.sh ]; then
    bash 2_insertSize.sh;
fi

if [ -e 2_sgaPreQC.sh ]; then
    bash 2_sgaPreQC.sh;
fi

#----------------------------#
# preprocessing
#----------------------------#
if [ -e 2_trim.sh ]; then
    bash 2_trim.sh;
fi

if [ -e 3_trimlong.sh ]; then
    bash 3_trimlong.sh;
fi

if [ -e 9_statReads.sh ]; then
    bash 9_statReads.sh;
fi

#----------------------------#
# mergereads
#----------------------------#
if [ -e 2_mergereads.sh ]; then
    bash 2_mergereads.sh;
fi

#----------------------------#
# quorum
#----------------------------#
if [ -e 2_quorum.sh ]; then
    bash 2_quorum.sh;
fi
if [ -e 9_statQuorum.sh ]; then
    bash 9_statQuorum.sh;
fi

#----------------------------#
# down sampling, k-unitigs and anchors
#----------------------------#
if [ -e 4_downSampling.sh ]; then
    bash 4_downSampling.sh;
fi

if [ -e 4_kunitigs.sh ]; then
    bash 4_kunitigs.sh;
fi
if [ -e 4_anchors.sh ]; then
    bash 4_anchors.sh;
fi
[% IF opt.tadpole -%]
if [ -e 9_statAnchors.sh ]; then
    bash 9_statAnchors.sh 4_kunitigs statKunitigsAnchors.md
fi

if [ -e 4_tadpole.sh ]; then
    bash 4_tadpole.sh
fi
if [ -e 4_tadpoleAnchors.sh ]; then
    bash 4_tadpoleAnchors.sh
fi
if [ -e 9_statAnchors.sh ]; then
    bash 9_statAnchors.sh 4_tadpole statTadpoleAnchors.md
fi
[% ELSE -%]
if [ -e 9_statAnchors.sh ]; then
    bash 9_statAnchors.sh;
fi
[% END -%]

#----------------------------#
# down sampling mergereads
#----------------------------#
if [ -e 6_downSampling.sh ]; then
    bash 6_downSampling.sh
fi

if [ -e 6_kunitigs.sh ]; then
    bash 6_kunitigs.sh;
fi
if [ -e 6_anchors.sh ]; then
    bash 6_anchors.sh;
fi
[% IF opt.tadpole -%]
if [ -e 9_statMRAnchors.sh ]; then
    bash 9_statMRAnchors.sh 6_kunitigs statMRKunitigsAnchors.md
fi

if [ -e 6_tadpole.sh ]; then
    bash 6_tadpole.sh
fi
if [ -e 6_tadpoleAnchors.sh ]; then
    bash 6_tadpoleAnchors.sh
fi
if [ -e 9_statMRAnchors.sh ]; then
    bash 9_statMRAnchors.sh 6_tadpole statMRTadpoleAnchors.md
fi
[% ELSE -%]
if [ -e 9_statMRAnchors.sh ]; then
    bash 9_statMRAnchors.sh;
fi
[% END -%]

#----------------------------#
# merge anchors
#----------------------------#
[% IF opt.tadpole -%]
if [ -e 7_mergeAnchors.sh ]; then
    bash 7_mergeAnchors.sh 4_kunitigs 7_mergeKunitigsAnchors;
    bash 7_mergeAnchors.sh 4_tadpole 7_mergeTadpoleAnchors;

[% IF opt.mergereads -%]
    bash 7_mergeAnchors.sh 6_kunitigs 7_mergeMRKunitigsAnchors
    bash 7_mergeAnchors.sh 6_tadpole 7_mergeMRTadpoleAnchors
[% END -%]

    bash 7_mergeAnchors.sh 7_merge 7_mergeAnchors;
fi
[% ELSE -%]
if [ -e 7_mergeAnchors.sh ]; then
    bash 7_mergeAnchors.sh 4_kunitigs;
fi
[% END -%]

if [ -e 7_mergeAnchors.sh ]; then
    bash 9_statMergeAnchors.sh
fi

# anchor sort on ref
if [ -e 1_genome/genome.fa ]; then
    for D in 7_mergeAnchors 7_mergeKunitigsAnchors 7_mergeTadpoleAnchors 7_mergeMRKunitigsAnchors 7_mergeMRTadpoleAnchors; do
        if [ ! -d ${D} ]; then
            continue;
        fi

        bash ~/Scripts/cpan/App-Anchr/share/sort_on_ref.sh \
            ${D}/anchor.merge.fasta 1_genome/genome.fa ${D}/anchor.sort
        nucmer -l 200 1_genome/genome.fa ${D}/anchor.sort.fa
        mummerplot --postscript out.delta -p anchor.sort --small

        # mummerplot files
        rm *.[fr]plot
        rm out.delta
        rm *.gp
        mv anchor.sort.ps ${D}/

        # minidot
        minimap ${D}/anchor.sort.fa 1_genome/genome.fa \
            | minidot - > ${D}/anchor.minidot.eps
    done
fi

#----------------------------#
# canu
#----------------------------#
if [ -e 5_canu.sh ]; then
    bash 5_canu.sh;
fi
if [ -e 9_statCanu.sh ]; then
    bash 9_statCanu.sh;
fi

#----------------------------#
# spades, megahit and platanus
#----------------------------#
if [ -e 8_spades.sh ]; then
    bash 8_spades.sh;
fi
if [ -e 8_spades_MR.sh ]; then
    bash 8_spades_MR.sh;
fi
if [ -e 8_megahit.sh ]; then
    bash 8_megahit.sh;
fi
if [ -e 8_megahit_MR.sh ]; then
    bash 8_megahit_MR.sh;
fi
if [ -e 8_platanus.sh ]; then
    bash 8_platanus.sh;
fi

if [ -e 9_statOtherAnchors.sh ]; then
    bash 9_statOtherAnchors.sh;
fi

#----------------------------#
# expand anchors
#----------------------------#
[% IF opt.fillanchor -%]
rm -fr 7_fillAnchor
mkdir -p 7_fillAnchor
cat \
    8_spades/spades.non-contained.fasta \
    8_megahit/megahit.non-contained.fasta \
    8_platanus/platanus.non-contained.fasta \
    | faops filter -a 1000 -l 0 stdin 7_fillAnchor/contigs.2GS.fasta
if [ -e 7_anchorLong.sh ]; then
    bash 7_anchorLong.sh 7_mergeAnchors/anchor.merge.fasta 7_fillAnchor/contigs.2GS.fasta;
fi
if [ -e 7_anchorFill.sh ]; then
    bash 7_anchorFill.sh 7_anchorLong/contig.fasta 7_fillAnchor/contigs.2GS.fasta;
fi
[% ELSE -%]
if [ -e 7_anchorLong.sh ]; then
    bash 7_anchorLong.sh 7_mergeAnchors/anchor.merge.fasta 5_canu_Xall-trim/[% opt.basename %].correctedReads.fasta.gz;
fi
if [ -e 7_anchorFill.sh ]; then
    bash 7_anchorFill.sh 7_anchorLong/contig.fasta 5_canu_Xall-trim/[% opt.basename %].contigs.fasta;
fi
[% END -%]

#----------------------------#
# final stats
#----------------------------#
if [ -e 9_statFinal.sh ]; then
    bash 9_statFinal.sh;
fi
if [ -e 9_quast.sh ]; then
    bash 9_quast.sh;
fi

