[% INCLUDE header.tt2 %]
log_warn 7_mergeAnchors.sh

#----------------------------#
# set parameters
#----------------------------#
USAGE="Usage: $0 [DIR_PREFIX] [DIR_MERGE]"

DIR_PREFIX=${1:-"4_kunitigs"}
DIR_MERGE=${2:-"7_mergeAnchors"}

if [ -e ${DIR_MERGE}/anchor.merge.fasta ]; then
    echo >&2 "${DIR_MERGE}/anchor.merge.fasta presents"
    exit;
fi

#----------------------------#
# merge anchors
#----------------------------#
mkdir -p ${DIR_MERGE}

# reverse sort files, so that Q30L60X80 will be infile_0
anchr contained \
    $( find . -type f -path "*${DIR_PREFIX}*" -name "anchor.fasta" -or -name "anchor.merge.fasta" | sort -r ) \
    --len 1000 --idt 0.98 --proportion 0.99999 --parallel [% opt.parallel %] \
    -o stdout \
    | faops filter -a 1000 -l 0 stdin ${DIR_MERGE}/anchor.non-contained.fasta
anchr orient \
    ${DIR_MERGE}/anchor.non-contained.fasta \
    --len 1000 --idt 0.98 --parallel [% opt.parallel %] \
    -o ${DIR_MERGE}/anchor.orient.fasta
anchr merge \
    ${DIR_MERGE}/anchor.orient.fasta \
    --len 1000 --idt 0.999 --parallel [% opt.parallel %] \
    -o ${DIR_MERGE}/anchor.merge0.fasta
anchr contained \
    ${DIR_MERGE}/anchor.merge0.fasta \
    --len 1000 --idt 0.98 --proportion 0.99 --parallel [% opt.parallel %] \
    -o stdout \
    | faops filter -a 1000 -l 0 stdin ${DIR_MERGE}/anchor.merge.fasta

#----------------------------#
# merge others
#----------------------------#
anchr contained \
    $( find . -type f -path "*${DIR_PREFIX}*" -name "pe.others.fa" -or -name "others.non-contained.fasta" | sort -r ) \
    --len 500 --idt 0.98 --proportion 0.99999 --parallel [% opt.parallel %] \
    -o stdout \
    | faops filter -a 500 -l 0 stdin ${DIR_MERGE}/others.non-contained.fasta

exit;
