[% INCLUDE header.tt2 %]
log_warn 8_megahit.sh

#----------------------------#
# set parameters
#----------------------------#
USAGE="Usage: $0 DIR_PREFIX"

DIR_PREFIX=${1:-"2_illumina/trim"}

DIR_PREFIX="$(cd "$(dirname "$DIR_PREFIX")"; pwd)/$(basename "$DIR_PREFIX")"

if [ -e 8_megahit/anchor/anchor.fasta ]; then
    log_info "8_megahit/anchor/anchor.fasta presents"
    exit;
fi

#----------------------------#
# spades
#----------------------------#
if [ -e 8_megahit/megahit.non-contained.fasta ]; then
    log_info "8_megahit/megahit.non-contained.fasta presents"
else
    log_info "Run megahit"

    megahit \
        -t [% opt.parallel %] \
        --k-list 31,41,51,61,71,81 \
[% IF not opt.se -%]
        -1 ${DIR_PREFIX}/R1.fq.gz \
        -2 ${DIR_PREFIX}/R2.fq.gz \
        -r ${DIR_PREFIX}/Rs.fq.gz \
[% ELSE -%]
        -r ${DIR_PREFIX}/R1.fq.gz \
[% END -%]
        --min-count 3 \
        -o 8_megahit

    anchr contained \
        8_megahit/final.contigs.fa \
        --len 1000 --idt 0.98 --proportion 0.99999 --parallel 16 \
        -o stdout \
        | faops filter -a 1000 -l 0 stdin 8_megahit/megahit.non-contained.fasta

fi

#----------------------------#
# anchor
#----------------------------#
log_info "Create anchors"

mkdir -p 8_megahit/anchor
cd 8_megahit/anchor

anchr anchors \
    ../megahit.non-contained.fasta \
[% IF not opt.se -%]
    ${DIR_PREFIX}/R1.fq.gz \
    ${DIR_PREFIX}/R2.fq.gz \
    ${DIR_PREFIX}/Rs.fq.gz \
[% ELSE -%]
    ${DIR_PREFIX}/R1.fq.gz \
[% END -%]
    -p [% opt.parallel %] \
    --ratio 0.98 \
    -o anchors.sh
bash anchors.sh
