[% INCLUDE header.tt2 %]
log_warn 8_platanus.sh

if [ -e 8_platanus/platanus.non-contained.fasta ]; then
    echo >&2 "8_platanus/platanus.non-contained.fasta presents"
    exit;
fi

#----------------------------#
# set parameters
#----------------------------#
USAGE="Usage: $0 DIR_PREFIX"

DIR_PREFIX=${1:-"2_illumina/Q25L60"}

#----------------------------#
# platanus
#----------------------------#
mkdir -p 8_platanus
cd 8_platanus

[% IF not opt.se -%]
if [ ! -e pe.fa ]; then
    faops interleave \
        -p pe \
        ../${DIR_PREFIX}/R1.sickle.fq.gz \
        ../${DIR_PREFIX}/R2.sickle.fq.gz \
        > pe.fa
    
    faops interleave \
        -p se \
        ../${DIR_PREFIX}/Rs.sickle.fq.gz \
        > se.fa
fi

platanus assemble -t [% opt.parallel %] -m 100 \
    -f pe.fa se.fa \
    2>&1 | tee ass_log.txt

platanus scaffold -t [% opt.parallel %] \
    -c out_contig.fa -b out_contigBubble.fa \
    -ip1 pe.fa \
    2>&1 | tee sca_log.txt

platanus gap_close -t [% opt.parallel %] \
    -c out_scaffold.fa \
    -ip1 pe.fa \
    2>&1 | tee gap_log.txt

anchr contained \
    out_gapClosed.fa \
    --len 1000 --idt 0.98 --proportion 0.99999 --parallel [% opt.parallel %] \
    -o stdout \
    | faops filter -a 1000 -l 0 stdin platanus.non-contained.fasta

[% ELSE -%]
if [ ! -e se.fa ]; then
    faops interleave \
        -p se \
        ../${DIR_PREFIX}/R1.sickle.fq.gz \
        > se.fa
fi

platanus assemble -t [% opt.parallel %] -m 100 \
    -f se.fa \
    2>&1 | tee ass_log.txt

anchr contained \
    out_contig.fa out_contigBubble.fa \
    --len 1000 --idt 0.98 --proportion 0.99999 --parallel [% opt.parallel %] \
    -o stdout \
    | faops filter -a 1000 -l 0 stdin platanus.non-contained.fasta

[% END -%]
