[% INCLUDE header.tt2 %]
log_warn 9_quast.sh

QUAST_TARGET=
QUAST_LABEL=

if [ -e 1_genome/genome.fa ]; then
    QUAST_TARGET+=" -R 1_genome/genome.fa "
fi

if [ -e 6_mergeAnchors/anchor.merge.fasta ]; then
    QUAST_TARGET+=" 6_mergeAnchors/anchor.merge.fasta "
    QUAST_LABEL+="merge,"
fi
if [ -e 6_anchorLong/contig.fasta ]; then
    QUAST_TARGET+=" 6_anchorLong/contig.fasta "
    QUAST_LABEL+="anchorLong,"
fi
if [ -e 6_anchorFill/contig.fasta ]; then
    QUAST_TARGET+=" 6_anchorFill/contig.fasta "
    QUAST_LABEL+="anchorFill,"
fi

[% FOREACH cov IN opt.cov3.split('\s+') -%]
[% FOREACH qual IN opt.qual3.split('\s+') -%]
if [ -e 5_canu_X[% cov %]-[% qual %]/[% opt.basename %].contigs.fasta ]; then
    QUAST_TARGET+=" 5_canu_X[% cov %]-[% qual %]/[% opt.basename %].contigs.fasta "
    QUAST_LABEL+="canu_X[% cov %]-[% qual %],"
fi
[% END -%]
[% END -%]

if [ -e 8_spades/spades.non-contained.fasta ]; then
    QUAST_TARGET+=" 8_spades/spades.non-contained.fasta "
    QUAST_LABEL+="spades,"
fi
if [ -e 8_platanus/platanus.non-contained.fasta ]; then
    QUAST_TARGET+=" 8_platanus/platanus.non-contained.fasta "
    QUAST_LABEL+="platanus,"
fi

if [ -e 1_genome/paralogs.fas ]; then
    QUAST_TARGET+=" 1_genome/paralogs.fas "
    QUAST_LABEL+="paralogs,"
fi

QUAST_LABEL=$( echo "${QUAST_LABEL}" | sed 's/,$//' )

rm -fr 9_quast
quast --no-check --threads [% opt.parallel %] \
[% IF opt.is_euk -%]
    --eukaryote --no-icarus \
[% END -%]
    ${QUAST_TARGET} \
    --label ${QUAST_LABEL} \
    -o 9_quast
