[% INCLUDE header.tt2 %]
log_warn 9_statReads.sh

if [ -e statReads.md ]; then
    log_debug "statReads.md presents";
    exit;
fi

printf "| %s | %s | %s | %s |\n" \
    "Name" "N50" "Sum" "#" \
    > statReads.md
printf "|:--|--:|--:|--:|\n" >> statReads.md

if [ -e 1_genome/genome.fa ]; then
    printf "| %s | %s | %s | %s |\n" \
        $(echo "Genome";   faops n50 -H -S -C 1_genome/genome.fa;) >> statReads.md
fi
if [ -e 1_genome/paralogs.fas ]; then
    printf "| %s | %s | %s | %s |\n" \
        $(echo "Paralogs"; faops n50 -H -S -C 1_genome/paralogs.fas;) >> statReads.md
fi

if [ -e 2_illumina/R1.fq.gz ]; then
    printf "| %s | %s | %s | %s |\n" \
        $(echo "Illumina"; stat_format 2_illumina/R1.fq.gz [% IF not opt.se %]2_illumina/R2.fq.gz[% END %];) >> statReads.md
fi
if [ -e 2_illumina/R1.uniq.fq.gz ]; then
    printf "| %s | %s | %s | %s |\n" \
        $(echo "uniq";    stat_format 2_illumina/R1.uniq.fq.gz [% IF not opt.se %]2_illumina/R2.uniq.fq.gz[% END %];) >> statReads.md
fi
if [ -e 2_illumina/R1.shuffle.fq.gz ]; then
    printf "| %s | %s | %s | %s |\n" \
        $(echo "shuffle"; stat_format 2_illumina/R1.shuffle.fq.gz [% IF not opt.se %]2_illumina/R2.shuffle.fq.gz[% END %];) >> statReads.md
fi
if [ -e 2_illumina/R1.sample.fq.gz ]; then
    printf "| %s | %s | %s | %s |\n" \
        $(echo "sample";  stat_format 2_illumina/R1.sample.fq.gz [% IF not opt.se %]2_illumina/R2.sample.fq.gz[% END %];) >> statReads.md
fi
if [ -e 2_illumina/R1.bbduk.fq.gz ]; then
    printf "| %s | %s | %s | %s |\n" \
        $(echo "bbduk";  stat_format 2_illumina/R1.bbduk.fq.gz [% IF not opt.se %]2_illumina/R2.bbduk.fq.gz[% END %];) >> statReads.md
fi

parallel --no-run-if-empty -k -j 2 "
    stat_format () {
        echo \$(faops n50 -H -N 50 -S -C \$@) \
            | perl -nla -MNumber::Format -e '
                printf qq{%d\t%s\t%d\n}, \$F[0], Number::Format::format_bytes(\$F[1], base => 1000,), \$F[2];
            '
    }

    if [ ! -e 2_illumina/Q{1}L{2}/R1.sickle.fq.gz ]; then
        exit;
    fi

    printf \"| %s | %s | %s | %s |\n\" \
        \$(
            echo Q{1}L{2};
[% IF not opt.se %]
            stat_format \
                2_illumina/Q{1}L{2}/R1.sickle.fq.gz \
                2_illumina/Q{1}L{2}/R2.sickle.fq.gz \
                2_illumina/Q{1}L{2}/Rs.sickle.fq.gz;
[% ELSE %]
            stat_format \
                2_illumina/Q{1}L{2}/R1.sickle.fq.gz;
[% END %]
        )
    " ::: [% opt.qual2 %] ::: [% opt.len2 %] \
    >> statReads.md

if [ -e 3_pacbio/pacbio.fasta ]; then
    printf "| %s | %s | %s | %s |\n" \
        $(echo "PacBio"; stat_format 3_pacbio/pacbio.fasta;) >> statReads.md
fi

parallel --no-run-if-empty -k -j 2 "
    stat_format () {
        echo \$(faops n50 -H -N 50 -S -C \$@) \
            | perl -nla -MNumber::Format -e '
                printf qq{%d\t%s\t%d\n}, \$F[0], Number::Format::format_bytes(\$F[1], base => 1000,), \$F[2];
            '
    }

    if [ ! -e 3_pacbio/pacbio.X{1}.{2}.fasta ]; then
        exit;
    fi

    printf \"| %s | %s | %s | %s |\n\" \
        \$(
            echo X{1}.{2};
            stat_format \
                3_pacbio/pacbio.X{1}.{2}.fasta;
        )
    " ::: [% opt.cov3 %] ::: raw trim \
    >> statReads.md

if [ -e 2_illumina/trimming.stats.txt ]; then
    echo >> statReads.md
    echo '```text' >> statReads.md
    echo "#trimmedReads" >> statReads.md
    cat 2_illumina/trimming.stats.txt \
        | perl -nla -F"\t" -e '
            /^#(Matched|Name)/ and print and next;
            /^#/ and next;
            $F[1] >= 1000 and print;
        ' \
        >> statReads.md
    echo '```' >> statReads.md
fi

cat statReads.md
