[% INCLUDE header.tt2 %]
log_warn [% sh %]

#----------------------------#
# set parameters
#----------------------------#
USAGE="Usage: $0 [FILENAME_MD]"

FILENAME_MD=${1:-"statOtherAnchors.md"}

echo -e "Table: ${FILENAME_MD}\n" > ${FILENAME_MD}
printf "| %s | %s | %s | %s | %s | %s | %s | %s | %s | %s | %s | %s | %s |\n" \
    "Name" "Mapped%" \
    "N50Anchor" "Sum" "#" \
    "N50Others" "Sum" "#" \
    "median" "MAD" "lower" "upper" \
    "RunTimeAN" \
    >> ${FILENAME_MD}
printf "|:--|--:|--:|--:|--:|--:|--:|--:|--:|--:|--:|--:|--:|\n" \
    >> ${FILENAME_MD}

for D in 8_spades 8_spades_MR 8_megahit 8_megahit_MR 8_platanus; do
	if [ ! -e ${D}/anchor/anchor.fasta ]; then
		continue;
	fi

	pushd ${D}/ > /dev/null

	MAPPED_RATIO=$( cat anchor/environment.json | jq '.MAPPED_RATIO | tonumber' )
	SECS_AN=$( expr $(stat -c %Y anchor/anchor.success) - $(stat -c %Y anchor/anchors.sh) )

	printf "| %s | %s | %s | %s | %s | %s | %s | %s | %.1f | %.1f | %.1f | %.1f | %s |\n" \
		$(basename "${D}") \
		$( perl -e "printf qq{%.2f%%}, ${MAPPED_RATIO} * 100;" ) \
		$( stat_format anchor/anchor.fasta ) \
		$( stat_format anchor/pe.others.fa ) \
		$( cat anchor/environment.json | jq '.median | tonumber' ) \
		$( cat anchor/environment.json | jq '.MAD | tonumber' ) \
		$( cat anchor/environment.json | jq '.lower | tonumber' ) \
		$( cat anchor/environment.json | jq '.upper | tonumber' ) \
		$( printf "%d:%02d'%02d''\n" $((${SECS_AN}/3600)) $((${SECS_AN}%3600/60)) $((${SECS_AN}%60)) )

	popd > /dev/null
done \
>> ${FILENAME_MD}

cat ${FILENAME_MD}
