[% INCLUDE header.tt2 %]
log_warn 9_statFinal.sh

echo -e "Table: statFinal\n" > statFinal.md
printf "| %s | %s | %s | %s |\n" \
    "Name" "N50" "Sum" "#" \
    >> statFinal.md
printf "|:--|--:|--:|--:|\n" >> statFinal.md

# genome
if [ -e 1_genome/genome.fa ]; then
    printf "| %s | %s | %s | %s |\n" \
        $(echo "Genome";   faops n50 -H -S -C 1_genome/genome.fa;) >> statFinal.md
fi
if [ -e 1_genome/paralogs.fa ]; then
    printf "| %s | %s | %s | %s |\n" \
        $(echo "Paralogs"; faops n50 -H -S -C 1_genome/paralogs.fa;) >> statFinal.md
fi

# anchors
for D in 7_mergeAnchors; do
    if [ -e ${D}/anchor.merge.fasta ]; then
        printf "| %s | %s | %s | %s |\n" \
            $(echo "${D}.anchors";   faops n50 -H -S -C ${D}/anchor.merge.fasta;) >> statFinal.md
    fi
    if [ -e ${D}/others.non-contained.fasta ]; then
        printf "| %s | %s | %s | %s |\n" \
            $(echo "${D}.others";   faops n50 -H -S -C ${D}/others.non-contained.fasta;) >> statFinal.md
    fi
done

# expanded anchors
if [ -e 7_anchorLong/contig.fasta ]; then
    printf "| %s | %s | %s | %s |\n" \
        $(echo "anchorLong"; faops n50 -H -S -C 7_anchorLong/contig.fasta;) >> statFinal.md
fi
if [ -e 7_anchorFill/contig.fasta ]; then
    printf "| %s | %s | %s | %s |\n" \
        $(echo "anchorFill"; faops n50 -H -S -C 7_anchorFill/contig.fasta;) >> statFinal.md
fi

# canu
[% FOREACH cov IN opt.cov3.split('\s+') -%]
[% FOREACH qual IN opt.qual3.split('\s+') -%]
if [ -e 5_canu_X[% cov %]-[% qual %]/[% opt.basename %].contigs.fasta ]; then
    printf "| %s | %s | %s | %s |\n" \
        $(echo "canu_X[% cov %]-[% qual %]"; faops n50 -H -S -C 5_canu_X[% cov %]-[% qual %]/[% opt.basename %].contigs.fasta;) >> statFinal.md
fi
[% END -%]
[% END -%]

# spades
if [ -e 8_spades/contigs.fasta ]; then
    printf "| %s | %s | %s | %s |\n" \
        $(echo "spades.contig"; faops n50 -H -S -C 8_spades/contigs.fasta;) >> statFinal.md
fi
if [ -e 8_spades/scaffolds.fasta ]; then
    printf "| %s | %s | %s | %s |\n" \
        $(echo "spades.scaffold"; faops n50 -H -S -C 8_spades/scaffolds.fasta;) >> statFinal.md
fi
if [ -e 8_spades/spades.non-contained.fasta ]; then
    printf "| %s | %s | %s | %s |\n" \
        $(echo "spades.non-contained"; faops n50 -H -S -C 8_spades/spades.non-contained.fasta;) >> statFinal.md
fi

# spades_MR
if [ -e 8_spades_MR/contigs.fasta ]; then
    printf "| %s | %s | %s | %s |\n" \
        $(echo "spades_MR.contig"; faops n50 -H -S -C 8_spades_MR/contigs.fasta;) >> statFinal.md
fi
if [ -e 8_spades_MR/scaffolds.fasta ]; then
    printf "| %s | %s | %s | %s |\n" \
        $(echo "spades_MR.scaffold"; faops n50 -H -S -C 8_spades_MR/scaffolds.fasta;) >> statFinal.md
fi
if [ -e 8_spades_MR/spades.non-contained.fasta ]; then
    printf "| %s | %s | %s | %s |\n" \
        $(echo "spades_MR.non-contained"; faops n50 -H -S -C 8_spades_MR/spades.non-contained.fasta;) >> statFinal.md
fi

# megahit
if [ -e 8_megahit/final.contigs.fa ]; then
    printf "| %s | %s | %s | %s |\n" \
        $(echo "megahit.contig"; faops n50 -H -S -C 8_megahit/final.contigs.fa;) >> statFinal.md
fi
if [ -e 8_megahit/megahit.non-contained.fasta ]; then
    printf "| %s | %s | %s | %s |\n" \
        $(echo "megahit.non-contained"; faops n50 -H -S -C 8_megahit/megahit.non-contained.fasta;) >> statFinal.md
fi

# megahit_MR
if [ -e 8_megahit_MR/final.contigs.fa ]; then
    printf "| %s | %s | %s | %s |\n" \
        $(echo "megahit_MR.contig"; faops n50 -H -S -C 8_megahit_MR/final.contigs.fa;) >> statFinal.md
fi
if [ -e 8_megahit_MR/megahit.non-contained.fasta ]; then
    printf "| %s | %s | %s | %s |\n" \
        $(echo "megahit_MR.non-contained"; faops n50 -H -S -C 8_megahit_MR/megahit.non-contained.fasta;) >> statFinal.md
fi

# platanus
if [ -e 8_platanus/out_contig.fa ]; then
	printf "| %s | %s | %s | %s |\n" \
	    $(echo "platanus.contig"; faops n50 -H -S -C 8_platanus/out_contig.fa;) >> statFinal.md
fi
if [ -e 8_platanus/out_gapClosed.fa ]; then
	printf "| %s | %s | %s | %s |\n" \
	    $(echo "platanus.scaffold"; faops n50 -H -S -C 8_platanus/out_gapClosed.fa;) >> statFinal.md
fi
if [ -e 8_platanus/platanus.non-contained.fasta ]; then
	printf "| %s | %s | %s | %s |\n" \
	    $(echo "platanus.non-contained"; faops n50 -H -S -C 8_platanus/platanus.non-contained.fasta;) >> statFinal.md
fi

cat statFinal.md
