[% INCLUDE header.tt2 %]

#----------------------------#
# Prepare SR
#----------------------------#
log_info Symlink/copy input files

if [ ! -e SR.fasta ]; then
    ln -s [% args.0 %] SR.fasta
fi

if [ ! -e pe.cor.fa ]; then
    ln -s [% args.1 %] pe.cor.fa
fi

log_debug "SR sizes"
faops size SR.fasta > sr.chr.sizes

#----------------------------#
# Mapping unambiguous reads
#----------------------------#
log_info "Mapping unambiguous reads"

log_debug "bbmap"
bbmap.sh \
    maxindel=0 strictmaxindel perfectmode \
    threads=[% opt.parallel %] \
    ambiguous=all \
    nodisk \
    ref=SR.fasta in=pe.cor.fa \
    outm=mapped.sam outu=unmapped.sam \
    basecov=basecov.txt \
    1>bbmap.err 2>&1

#----------------------------#
# basecov
#----------------------------#
log_info "basecov"
cat basecov.txt \
    | grep -v '^#' \
    | perl -nla -MApp::Fasops::Common -e '
        BEGIN { our $name; our @list; }

        if ( !defined $name ) {
            $name = $F[0];
            @list = ( $F[2] );
        }
        elsif ( $name eq $F[0] ) {
            push @list, $F[2];
        }
        else {
            my $mean_cov = App::Fasops::Common::mean(@list);
            printf qq{%s\t%d\n}, $name, int $mean_cov;

            $name = $F[0];
            @list = ( $F[2] );
        }

        END {
            my $mean_cov = App::Fasops::Common::mean(@list);
            printf qq{%s\t%d\n}, $name, int $mean_cov;
        }
    ' \
    > reads.coverage.tsv

# How to best eliminate values in a list that are outliers
# http://www.perlmonks.org/?node_id=1147296
# http://exploringdatablog.blogspot.com/2013/02/finding-outliers-in-numerical-data.html
cat reads.coverage.tsv \
    | perl -nla -MStatistics::Descriptive -MJSON -e '
        BEGIN {
            our $stat   = Statistics::Descriptive::Full->new();
            our %cov_of = ();
        }

        $cov_of{ $F[0] } = $F[1];
        $stat->add_data( $F[1] );

        END {
            my $median       = $stat->median();
            my @abs_res      = map { abs( $median - $_ ) } $stat->get_data();
            my $abs_res_stat = Statistics::Descriptive::Full->new();
            $abs_res_stat->add_data(@abs_res);
            my $MAD = $abs_res_stat->median();
            my $k   = [% opt.scale %];   # the scale factor

            my $lower = ( $median - $k * $MAD ) / 3;
            $lower = [% opt.reads %] if $lower < [% opt.reads %];
            my $upper = ( $median + $k * $MAD ) * 1.5;
            $upper = $median * 2 if $upper > $median * 2;

            my $limit = {
                median => $median,
                MAD => $MAD,
                k => $k,
                lower => $lower,
                upper => $upper,
            };

            print JSON->new->encode($limit);
        }
    ' \
    | jq "." > environment.json

MAPPED_RATIO=$( 
    perl -e '
        my $mapped = -s q{mapped.sam};
        my $unmapped = -s q{unmapped.sam};
        print $mapped / ($mapped + $unmapped);
        ' 
)
save MAPPED_RATIO

#----------------------------#
# Properly covered parts of reads
#----------------------------#
# at least [% opt.reads %] reads covered
# Pos is 0-based
#RefName	Pos	Coverage
log_debug "covered"
cat basecov.txt \
    | grep -v '^#' \
    | perl -nla -MPath::Tiny -MJSON -e '
        BEGIN {
            our $name;
            our @list;
            our $limit = JSON->new->decode(
                Path::Tiny::path( q{environment.json} )->slurp
            );
        }

        sub list_to_ranges {
            my @ranges;
            my $count = scalar @list;
            my $pos   = 0;
            while ( $pos < $count ) {
                my $end = $pos + 1;
                $end++ while $end < $count && $list[$end] <= $list[ $end - 1 ] + 1;
                push @ranges, ( $list[$pos], $list[ $end - 1 ] );
                $pos = $end;
            }

            return @ranges;
        }

        if ( $F[2] < $limit->{lower} or $F[2] > $limit->{upper} ) {
            next;
        }

        if ( !defined $name ) {
            $name = $F[0];
            @list = ( $F[1] );
        }
        elsif ( $name eq $F[0] ) {
            push @list, $F[1];
        }
        else {
            my @ranges = list_to_ranges();
            for ( my $i = 0; $i < $#ranges; $i += 2 ) {
                if ( $ranges[$i] == $ranges[ $i + 1 ] ) {
                    printf qq{%s:%s\n}, $name, $ranges[$i] + 1;
                }
                else {
                    printf qq{%s:%s-%s\n}, $name, $ranges[$i] + 1, $ranges[ $i + 1 ] + 1;
                }
            }

            $name = $F[0];
            @list = ( $F[1] );
        }

        END {
            my @ranges = list_to_ranges();
            for ( my $i = 0; $i < $#ranges; $i += 2 ) {
                if ( $ranges[$i] == $ranges[ $i + 1 ] ) {
                    printf qq{%s:%s\n}, $name, $ranges[$i] + 1;
                }
                else {
                    printf qq{%s:%s-%s\n}, $name, $ranges[$i] + 1, $ranges[ $i + 1 ] + 1;
                }
            }
        }
    ' \
    > reads.covered.txt

#----------------------------#
# anchor
#----------------------------#
log_info "anchor - 95% covered"
jrunlist cover reads.covered.txt -o reads.covered.yml
jrunlist stat sr.chr.sizes reads.covered.yml -o reads.covered.csv

cat reads.covered.csv \
    | perl -nla -F"," -e '
        $F[0] eq q{chr} and next;
        $F[0] eq q{all} and next;
        $F[2] < [% opt.min %] and next;
        $F[3] < 0.95 and next;
        print $F[0];
    ' \
    | sort -n \
    > anchor.txt

#----------------------------#
# anchor2
#----------------------------#
log_info "anchor2 - longest properly covered regions"
jrunlist span reads.covered.yml --op fill -n 10 -o regions.fill.yml
jrunlist span regions.fill.yml --op excise -n [% opt.min %] -o regions.parts.yml
jrunlist some regions.parts.yml \
    <(
        cat sr.chr.sizes \
            | cut -f 1 \
            | grep -Fx -f anchor.txt -v
    ) \
    -o regions.some.yml

perl -MYAML::Syck -MAlignDB::IntSpan -e '
    my $yml = YAML::Syck::LoadFile( q{regions.some.yml} );

    for my $key ( sort keys $yml ) {
        my $runlist = $yml->{$key};
        my $intspan = AlignDB::IntSpan->new($runlist);
        next if $intspan->size < [% opt.min %];

        my @sets = sort { $b->size <=> $a->size } $intspan->sets;

        next if $sets[0]->size < [% opt.min %];
        printf "%s:%s\n", $key, $sets[0];
    }
    ' \
    > anchor2.list

cat sr.chr.sizes \
    | cut -f 1 \
    | grep -Fx -f anchor.txt -v \
    | grep -Fx -f <( cut -d: -f 1 anchor2.list ) -v \
    > others.txt

#----------------------------#
# Split SR.fasta to anchor and others
#----------------------------#
log_info "pe.anchor.fa & pe.others.fa"
faops some -l 0 SR.fasta anchor.txt pe.anchor.fa

faops region -l 0 SR.fasta anchor2.list pe.anchor2.fa

faops some -l 0 SR.fasta others.txt pe.others.fa

#----------------------------#
# Merging anchors
#----------------------------#
log_info "Merging anchors"
anchr contained \
    pe.anchor.fa \
    pe.anchor2.fa \
    --len [% opt.min %] --idt 0.98 --proportion 0.99999 --parallel [% opt.parallel %] \
    -o anchor.non-contained.fasta
anchr orient \
    anchor.non-contained.fasta \
    --len [% opt.min %] --idt 0.98 \
    -o anchor.orient.fasta
anchr merge \
    anchor.orient.fasta --len [% opt.min %] --idt 0.999 \
    -o anchor.merge0.fasta
anchr contained \
    anchor.merge0.fasta --len [% opt.min %] --idt 0.98 \
    --proportion 0.99 --parallel [% opt.parallel %] \
    -o anchor.fasta

#----------------------------#
# Done.
#----------------------------#
rm mapped.sam
rm unmapped.sam
rm basecov.txt

touch anchor.success
log_info "Done."

exit 0
